@model WebApplication1.Models.Painter

@{
    ViewBag.Title = "Details";
}

<h2>Художники и картины</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h4>@Model.name</h4>
            <p>
                <b>
                    Country:
                </b>
                @Model.country
            </p>
            @if (Model.photo != null)
            {
                <img src="@Url.Action("GetImage", new { Model.id })" class="img-rounded img-details" />
            }
            <p class="margint-2">
                <b>
                    Biography:
                </b>
                @Model.biography
            </p>
        </div>
    </div>
</div>
<hr />
<h2>Картины художника @Model.name</h2>
@{ 
    Html.RenderAction("PicturesInPainters", new { id = Model.id });
}

<p class="margint-2">
    @Html.ActionLink("Художники", "Index")
</p>
