@model IEnumerable<JPTVR18_phones.Models.Comment>

@{
    ViewBag.Title = "Index";
    AjaxOptions ajaxOptions = new AjaxOptions { UpdateTargetId = "comments-tool" };
}

<div id="comments-tool">
    <div id="all-comments">
        <hr />
        <h3>Comments list</h3>
        @foreach (var item in Model)
        {
            <div class="phone-comment">
                <div class="phone-comment-title">
                    From: @Html.DisplayFor(modelItem => item.UserName)

                </div>
                <div class="phones-comment-date">
                    Date Publish: @item.DatePublish.Value.ToString("dd/MM/yyyy")
                </div>

                <div class="phones-comment-body">
                    @Html.DisplayFor(modelItem => item.Comments)
                </div>
                @if (Request.IsAuthenticated && User.IsInRole("admin"))
                {
                    @Html.ActionLink("Delete this comment", "Delete", new { id = item.Id })
                }
            </div>
        }
        <div id="addComment" class="add-comment-box">
            @if (Request.IsAuthenticated)
            {
                @Html.Action("Create", "Comments", new { PhoneId = ViewBag.PhoneId })
            }
            else
            {
                @Html.ActionLink("Авторизируйтесь для добавления комментария", "Login", "Account")
            }
        </div>
    </div>
</div>