@model IEnumerable<WebApplication1.Models.Painter>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.biography)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photo)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Details", "Painter", new { id = item.id })">@item.name</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.biography    )
        </td>
        <td>
            @if (item.photo != null)
            {
                <img src="@Url.Action("GetImage", "Painter", new { item.id })" class="img-rounded img-table" />
            }
        </td>
    </tr>
}

</table>
